__pycache__/

.key
cresentials.json
db_oparators/migration

database/data

sigma_chan_db/db/data
sigma_chan_db/db/sql/
sigma_chan_db/db/my.conf
sigma_chan_db/sigma_chan_db/db/data
sigma_chan_db/sigma_chan_db/db/sql/
sigma_chan_db/sigma_chan_db/db/my.conf
